<div class="form-content">
  <h2 class="header">Create New Chat</h2>
  <hr><br>
  <form [formGroup]="chat">

    <mat-form-field class="mat-form" appearance="outline">
      <mat-label>Enter Chat Name</mat-label>
      <input id="driver-search" matInput type="text" formControlName="name" placeholder="Chat Name">
    </mat-form-field>

    <div class="footer-container">
      <button class="btn ok"  mat-raised-button (click)="CreateGroupChat(chat,$event)"> ok</button>
    <button class="btn close" mat-raised-button>close</button>
    </div>
  </form>
</div>

<!--
  <mat-form-field class="mat-form" appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phone" type="text" placeholder="Enter Phone ">
    </mat-form-field>

    <mat-form-field class="mat-form" appearance="outline">
      <mat-label>Number Of Seats In Car</mat-label>
      <input matInput type="text" formControlName="numberofseats" placeholder="Enter Number Of Seats">
    </mat-form-field>

-->
