.form-content {
  margin-bottom: 5vh;
  margin-top: 4vh;
}

.header {
  display: flex;
  justify-content: center;
}
mat-label {
  color: black;
}

::ng-deep div.mat-form-field-outline {
  color: black !important ;
}

.mat-form {
  width:  stretch;
}

.icon {
  font-size: 2em;
  width: 1em;
  height: 1em;
  border: 1px solid black;
  cursor: pointer;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  position: relative;
  font-size: 1.2em;
  color: white;
}

.ok {
  background: rgb(37, 211, 37);
}

.close {
  background: rgb(218, 94, 94);
}

::ng-deep .mat-bottom-sheet-container {
  background: wheat;
}
