#form-footer {
  display: flex;
  justify-content: center;
}

mat-label {
  color: black;
}

::ng-deep div.mat-form-field-outline {
  color: black !important ;
}

@media only screen and (min-width: 260px) {

  .btn {
    font-size: 1.2em;
    padding: 0 10vw;
  }
}

@media only screen and (min-width: 551px) {

  .form-container {
    transform: scale(1.2);
    padding: 1em;
  }

  .btn {
    font-size: 1.2em;
    padding: 0 4.6vw;
  }
}

@media only screen and (min-width: 801px) {

  .form-container {
    transform: scale(1);
    padding: .2em 2em;
    box-sizing: border-box;
  }

  .btn {
    font-size: .8em;
    padding: 0 2.6vw;
  }
}
