
.icon {
  font-size: 2em;
  width: 1em;
  height: 1em;
  border: 1px solid black;
  cursor: pointer;
}

::ng-deep .mat-form-field {
  font-weight: bold !important;
}

.btn {
  position: relative;
}

.footer {
  display: flex;
  justify-content: center;

}

@media only screen and (min-width: 260px) {

  .btn {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 551px) {

  .btn {
    padding: 0 4vw;
  }
}

@media only screen and (min-width: 850px) {

  .form-container {
    padding: 0 2em;
  }

  .btn {
    font-size: 1em;
    padding: 0 3vw;
  }
}
